BasedOnStyle: Google
TabWidth: 4
IndentWidth: 4
---
Language: Cpp
Standard: c++20
ColumnLimit: 130
MaxEmptyLinesToKeep: 2
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 4
IndentWrappedFunctionNames: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BinPackParameters: true
BinPackArguments: true
KeepEmptyLinesAtTheStartOfBlocks: true
IncludeBlocks: Preserve
SortIncludes: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty

UseTab: Always
